doctype html
html
  head
    title= Harmony
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://unpkg.com/tone')
  body
    block content
  footer
    script(type='module', src='./js/toneInit.js')
